@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Iceland&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.container .row{
    display: flex;
    width: 90%;
    height: 550px;
    margin: auto;
    margin-top: 20px;
}
.container .row .left{
    width: 50%;
}
.container .left img{
    max-width: 550px;
    height: 530px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-top-left-radius: 320px;
    border-top-right-radius: 320px;
}
.container .row .right{
    width: 50%;
}
.container .row .right h3{
    margin: 10px 0 22px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    line-height: 50px;
}
.container .row .right .sub_1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 21px;
    line-height: 28px;
    color: #7d8087;
}
.container .row .right .listed{
    display: grid;
    grid-template-rows: repeat(3,140px);
    grid-template-columns: repeat(1,530px);
}
.container .row .right .listed .container-1{
    display: flex;
    width: 100%;
}
.container .row .right .listed .container-1 .card_logo{
    width: 10%;
}
.container .row .right .listed .container-1 .card_logo .card-logoo{
    display: block;
    margin-top: 20px;
}
.container .row .right .listed .container-1 .card_details{
    width: 90%;
}
.container .row .right .listed .container-1 .card_details h6{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.container .row .right .listed .container-1 .card_details p{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #7d8087;
}

@media (max-width:600px) {
    .container{
        width: 100%;
        height: auto;
    }
    .container .row{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
    }
    .container .row .left{
        width: 100%;
    }
    .container .left img{
        max-width: 400px;
        height: 280px;
        display: block;
        margin: auto;
        margin-top: 25px;
        border-top-left-radius: 320px;
        border-top-right-radius: 320px;
    }
    .container .row .right{
        width: 100%;
    }
    .container .row .right h3{
        margin: 10px 0 5px 0;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
    }
    .container .row .right .sub_1{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 15px;
        line-height: 28px;
        color: #7d8087;
        text-align: center;
    }
    .container .row .right .listed{
        display: grid;
        grid-template-rows: repeat(3,135px);
        grid-template-columns: repeat(1,1fr);
    }
    .container .row .right .listed .container-1{
        display: flex;
        width: 100%;
    }
    .container .row .right .listed .container-1 .card_logo{
        width: 33%;
    }
    .container .row .right .listed .container-1 .card_logo .card-logoo{
        display: block;
        margin: auto;
        margin-top: 40px;
    }
    .container .row .right .listed .container-1 .card_details{
        width: 67%;
    }
    .container .row .right .listed .container-1 .card_details h6{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .container .row .right .listed .container-1 .card_details p{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 13px;
        line-height: 1.7;
        color: #7d8087;
    }
}

@media (min-width:601px) and (max-width:900px){
    .container{
        width: 100%;
    }
    .container .row{
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .container .row .left{
        width: 50%;
    }
    .container .left img{
        max-width: 450px;
        height: 430px;
        display: block;
        margin: auto;
        margin-top: 20px;
        border-top-left-radius: 320px;
        border-top-right-radius: 320px;
    }
    .container .row .right{
        width: 50%;
    }
    .container .row .right h3{
        margin: 10px 0 5px 0;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 30px;
        line-height: 50px;
    }
    .container .row .right .sub_1{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 15px;
        line-height: 28px;
        color: #7d8087;
    }
    .container .row .right .listed{
        display: grid;
        grid-template-rows: repeat(3,110px);
        grid-template-columns: repeat(1,1fr);
    }
    .container .row .right .listed .container-1{
        display: flex;
        width: 100%;
    }
    .container .row .right .listed .container-1 .card_logo{
        width: 20%;
    }
    .container .row .right .listed .container-1 .card_logo .card-logoo{
        display: block;
        margin-top: 10px;
    }
    .container .row .right .listed .container-1 .card_details{
        width: 80%;
    }
    .container .row .right .listed .container-1 .card_details h6{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 16px;
        line-height: 30px;

    }
    .container .row .right .listed .container-1 .card_details p{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 13px;
        line-height: 1.7;
        color: #7d8087;
    }
}
